*{
    padding: 0;
    margin: 0;
    font-family: 'Abel';
}
body{
    background-color:Gray;
}
.body{
    display: block;
    background-color:Gray;
    width: 100%; height: 100%;
}
.space{
    display: block;
    height: 10px
}
h1{ font-size: 3vw;
    text-align: center;
    color:#D1EAEB;
}
.head{
    background: #12A3CC;
    padding: 1vw
}
.startbut{
    font-size: 2vh;
    border: 0px;
    background-color: lightgreen;
    margin: 3vw;
    display: inline-block;
    height: 3vw;
    width: 12vw;
}
.startbut:hover{
    box-shadow: 0px 0px 5px #D1EAEB;
    border: 0px;
    background-color: lightgreen;
    margin: 3vw;
    display: inline-block;
    height: 3vw;
    width: 12vw;
}
.timer{
    text-align: center;
    min-width: 80px;
    padding: 1vw;
    background-color: lightgreen;
    margin: 3vw 1vw;
    float: right;
    display: inline-block;
}
.output{
    text-align: center;
    min-width: 70px;
    padding: 1vw 5vw 1vw 5vw;
    background-color: skyblue;
    margin: 3vw 1vw;
    float: right;
    display: inline-block;
}
.show{
    color: darkslategrey;
    font-family: Abel;
    background: #80CED7;
    height 5vw;
    font-size:4vh;
    padding-left: 48%;
}
.color{
    display: block;
}
.grid{
    margin-top: 3vw;
    display: block;
}
.gridel{
    color: black;
    font-size: 5vh;
    margin: 5px 5px 5px 5px;
    height: 15vh;
    width: 25vh;
    text-align: center;
    border: 0px solid grey;
}
.gridel:hover{
   transform:scale(1.02);
}
#b1{
    background: lightblue;
}
#b2{
    background: Tomato;
}
#b3{
    background: MediumSpringGreen;
}
#b4{
    background: crimson;
}
#b5{
    background: Khaki;
}
#b6{
    background: LightPink;
}
#b7{
    background: lightgreen;
}
#b8{
    background: silver;
}
#b9{
    background: Plum;
}

@media only screen and (max-width: 1300px) and (min-width:841px) {
    .head h1{
        font-size: 10vw;
    }
    .startbut{
    font-size: 200%;
    border: 0px;
    background-color: lightgreen;
    margin: 3vw;
    display: inline-block;
    height: 11vw;
    width: 25vw;
}
.startbut:hover{
    box-shadow: 0px 0px 5px #D1EAEB;
    border: 0px;
    background-color: red;
    margin: 3vw;
    display: inline-block;
    height: 11vw;
    width: 25vw;
}
.timer{
    line-height: 8vw;
    font-size: 300%;
    text-align: center;
    min-width: 20vw;
    min-height: 9vw;
    padding: 1vw;
    background-color: lightgreen;
    margin: 3vw 1vw;
    float: right;
    display: inline-block;
}
.output{
    line-height: 8vw;
    font-size: 300%;
    text-align: center;
    min-width: 20vw;
    min-height: 9vw;
    padding: 1vw 5vw 1vw 5vw;
    background-color: skyblue;
    margin: 3vw 1vw;
    float: right;
    display: inline-block;
}
.show{
    color: #003249;
    font-family: Abel;
    background: #80CED7;

    height 5vw;
}
    
.grid{
    margin-top: 13vw;
    display: block;
}
.gridel{
    color: black;
    font-size: 5vw;
    margin: 5px 5px 5px 5px;
    height: 15vw;
    width: 22vw;
    text-align: center;
    border: 0px solid grey;
}
.gridel:hover{
   transform:scale(1.02);
}
    
}
@media only screen and (max-width: 840px){
    .head h1{
        font-size: 20vw;
    }
    .startbut{
    font-size:5vw;
    border: 0px;
    background-color: lightgreen;
    margin: 3vw;
    display: inline-block;
    height: 16vw;
    width: 27vw;
}
.startbut:hover{
    box-shadow: 0px 0px 5px #D1EAEB;
    border: 0px;
    background-color: lightgreen;
    margin: 3vw;
    display: inline-block;
    height: 15vw;
    width: 25vw;
}
.timer{
    line-height: 8vw;
    font-size: 5vw;
    text-align: center;
    min-width: 25vw;
    min-height: 9vw;
    padding: 1vw;
    background-color: lightgreen;
    margin: 3vw 1vw;
    float: right;
    display: inline-block;
}
.output{
    line-height: 8vw;
    font-size: 5vw;
    text-align: center;
    min-width: 20vw;
    min-height: 9vw;
    padding: 1vw 5vw 1vw 5vw;
    background-color: skyblue;
    margin: 3vw 1vw;
    float: right;
    display: inline-block;
}
.show{
    color: #003249;
    font-family: Abel;
    background: #80CED7;
    height 5vw;
}
    
.grid{
    margin-top: 10vw;
    display: block;
}
.gridel{
    color: black;
    font-size: 5vw;
    margin: 5px 5px 5px 5px;
    height: 20vw;
    width: 25vw;
    text-align: center;
    border: 0px solid grey;
}
.gridel:hover{
   transform:scale(1.02);
}
    
}